/.github @GoogleCloudPlatform/blueprint-solutions @GoogleCloudPlatform/eks-team

/bundles/asm-policy-v0.0.1 @liwenhao0810
/gke-custom-org-policy @chuyang-deng

# NOTE: GitHub CODEOWNERS locations:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-and-branch-protection

CODEOWNERS @GoogleCloudPlatform/blueprint-solutions @GoogleCloudPlatform/eks-team
.github/CODEOWNERS @GoogleCloudPlatform/blueprint-solutions @GoogleCloudPlatform/eks-team
docs/CODEOWNERS @GoogleCloudPlatform/blueprint-solutions @GoogleCloudPlatform/eks-team
